body{
    background:linear-gradient( #114357, #F29492);
    text-align: center;
    color: white;
    border-style: ridge;
    border-width: medium;
    font-family: 'Pacifico', cursive;
    letter-spacing: .125em;
    word-spacing: 1px;
    list-style: none;
    
}
h3{
    color: black;
    text-decoration: overline
}
h1{
    color: black;
    text-decoration: overline
}
header{
    border-style: double;
    border-width: small;
    border-color: #b3754d ;
    background-image: url(drawingimg.jpg);
    background-position-x: center;
    background-size: 20%;
}
nav{
    border-style: double;
    border-width:small;
    border-color:  #b3754d; 
}
section{
    border-style: double;
    border-width: small;
    border-color:  #b3754d ;
}
h2{
    color: black;
    text-decoration: underline overline;
}
article{
    border-style: double;
    border-width:small;
    border-color:  #b3754d; 
}
footer{
    border-style: double;
    border-width: small;
    border-color: #b3754d ;
}
head{
    border-style: double;
    border-width: small;
    border-color: #b3754d ;
}
a{
    text-decoration: none;
    color: darkslategray;
}
footer{
    background-color: (0,255,0,.125);
}