body{
    background:radial-gradient( #F11712, #0099F7);
    text-align: center;
    color: orange;
    border-style: ridge;
    border-width: medium;
    font-family: 'Pacifico', cursive;
    letter-spacing: .125em;
    word-spacing: 1px;
    list-style: none;
    
}
h3{
    color: darkgreen;
    text-decoration: overline
}
h1{
    color: darkgreen;
    text-decoration: overline
}
header{
    border-style: double;
    border-width: small;
    border-color: #ff0000 green rgba(0,0,255,1) ;
    background-image: url(drawingimg.jpg);
    background-position-x: center;
    background-size: 20%;
}
nav{
    border-style: double;
    border-width:small;
    border-color:  #ff0000 green rgba(0,0,255,1); 
}
section{
    border-style: double;
    border-width: small;
    border-color:  #ff0000 green rgba(0,0,255,1) ;
}
footer{
    border-style: double;
    border-width: small;
    border-color:  #ff0000 green rgba(0,0,255,1) ;
}
head{
    border-style: double;
    border-width: small;
    border-color:  #ff0000 green rgba(0,0,255,1) ;
}
a{
    text-decoration: none;
    color: hotpink
}